*.out
*.so
*.exe
*.o
*.a
build*/
.vscode
.git
.idea
lib/
out/
*.iml
testkotlin/out/
testkotlin/lib/
testkotlin/build/
testkotlin/.gradle/
testkotlin/.idea/
testCMake/t13/build
.vscode/
cmake-build-debug/
